.mainnav {
    display: flex;
    justify-content: center;
    gap: 5rem;
    background: rgb(24, 24, 159);
    background: linear-gradient(166deg, rgba(24, 24, 159, 1) 14%, rgba(148, 96, 206, 1) 58%, rgba(152, 82, 211, 1) 97%);
    line-height: 5rem;
    font-size: 23px;
}